<div class="fields">
  <div class="fileupload fileupload-new control-group" data-provides="fileupload">
    <label class="control-label" for="inputPropertyPrice">
    </label>
    <div class="input-append">
      <div class="uneditable-input" style="width:220px;">
        <i class="icon-file fileupload-exists"></i>
        <span class="fileupload-preview"></span>
      </div>
      <span class="btn btn-file">
        <span class="fileupload-new">Select file</span>
        <span class="fileupload-exists">Change</span>
        <%= f.file_field :image %>
      </span>
    </div>
    <%= link_to_remove_fields image_tag("cross@2x.png"), f %>
  </div>
</div>