<%= javascript_include_tag "bootstrap-dropdown-checkbox.js" %>
<div id="content">
  <div class="container">
    <div>
      <div id="main">
        <div class="list-your-property-form">
          <h2 class="page-header">List your property</h2>

          <div class="content">
            <div class="row">
              <div class="span8">
                <p>
                  Please List Your Property With Us for Free and Make sure you get the required Audience. Please make sure you enter the Required and Verified Information about Your Property into the correct rent/lease/sale category so that you Get Advertised to the Target Audience.
                </p>
              </div><!-- /.span8 -->
            </div><!-- /.row -->
            <%= form_for @property do |f| %> 
              <%= render :partial=>'form',:locals => {:f=>f} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div><!-- /#content -->
</div><!-- /#container -->

