<div class="container">
  <div id="about-index" class="clearfix cb page-content">
    <div class="i3 gray-box corner-radius">
      <p></p>
      <p align='justify'>ezyprops is one of the India's fastest growing property information website that helps connect buyers and sellers of real estate across the country and also notify and alert customer base available online on social media  networks. Property buying for Indians is a big financial and emotional decision taken by the family together. Hence we at ezyprops deliver the best of the statics to help you the take the decision well and put your money in the right place. Whether you wish to buy, rent or lease a private or commercial property, you are at the right place just travel to the property using our map based search tool to suite your needs. you can filter the search results and identify new / existing India properties that meet the expectations. You can then contact the Sellers through e-mail / SMS or phone for concluding a transaction. </p>
    </div>
  </div>
</div>