<div class="container">
  <div id="about-index" class="clearfix cb page-content">
    <div class="i3 gray-box corner-radius">
      <h4>Customer Information</h4>
      <h4>About Bangalore</h4>
      <p align='justify'><strong>Bangalore</strong> (or Bengaluru ) is the capital city of the Indian state of Karnataka. Located on the Deccan Plateau in the south-eastern part of Karnataka. Bangalore is India's third most populous city and fifth-most populous urban agglomeration. Bangalore is known as theSilicon Valley of India because of its role as the nation's leading Information Technology (IT) exporter.[6][7][8] Located at a height of over 3,000 feet (914.4 m) above sea level, Bangalore is known for its pleasant climate throughout the year.[9] The city is amongst the top ten preferred entrepreneurial locations in the world.[10]</p>
      <p align='justify'>A succession of South Indian dynasties, the Western Gangas, the Cholas, and the Hoysalas ruled the present region of Bangalore until in 1537 CE, Kempé Gowdā — a feudatory ruler under the Vijayanagara Empire — established a mud fort considered to be the foundation of modern Bangalore. Following transitory occupation by the Marāthās and Mughals, the city remained under the Mysore Kingdom. It later passed into the hands of Hyder Ali and his son Tipu Sultan, and was captured by the British after victory in the Fourth Anglo-Mysore War (1799), who returned administrative control of the city to the Maharaja of Mysore. The old city developed in the dominions of the Maharaja of Mysore, and was made capital of the Princely State of Mysore, which existed as a nominally sovereign entity of the British Raj. In 1809, the British shifted theircantonment to Bangalore, outside the old city, and a town grew up around it, which was governed as part of British India. Following India's independence in 1947, Bangalore became the capital of Mysore State, and remained capital when the new Indian state of Karnataka was formed in 1956. The two urban settlements of Bangalore – City and Cantonment – which had developed as independent entities merged into a single urban centre in 1949. The city was renamed Bengaluru in 2006.
Bangalore is home to many well-recognised educational and research institutions in India, such as the Indian Institute of Science (IISc), Indian Institute of Management (Bangalore) (IIMB),National Institute of Fashion Technology( NIFT ) and National Institute of Mental Health and Neurosciences (NIMHANS). Numerous public sector heavy industries, technology companies, aerospace, telecommunications, and defence organisations, such as Bharat Electronics Limited (BEL), Hindustan Aeronautics Limited (HAL), National Aerospace Laboratories (NAL), Bharat Heavy Electricals Limited (BHEL), Indian Space Research Organisation (ISRO), Infosys, and Wipro are headquartered in the city. A demographically diverse city, Bangalore is a major economic and cultural hub and the second-fastest growing major metropolis in India.[11] The city also houses the Kannada film industry. As a growing metropolitan city in a developing country, Bangalore confronts substantial pollution and other logistical and socio-economic problems.[12][13] With a Gross domestic product (GDP) of US$83 billion, Bangalore is listed fourth among the top 15 cities contributing to India's overall GDP</p>
      <h4>Climate</h4>
      <p align='justify'>Bangalore experiences a tropical savanna climate (Köppen climate classification Aw) with distinct wet and dry seasons. Due to its high elevation, Bangalore usually enjoys a more moderate climate throughout the year, although occasional heat waves can make things very uncomfortable in the summer.[63] The coolest month is December with an average low temperature of 15.4 °C (59.7 °F) and the hottest month is April with an average high temperature of 32.8 °C (91 °F).[64] The highest temperature ever recorded in Bangalore is 38.9 °C (102 °F) (recorded in March 1931) and the lowest ever is 7.8 °C (46 °F) (recorded in January 1884).[65][66] Winter temperatures rarely drop below 12 °C (54 °F), and summer temperatures seldom exceed 36 °C (97 °F). Bangalore receives rainfall from both the northeast and the southwest monsoons and the wettest months are September, October and August, in that order.[64] The summer heat is moderated by fairly frequent thunderstorms, which occasionally cause power outages and local flooding. The heaviest rainfall recorded in a 24-hour period is 179 millimetres (7 in) recorded on 1 October 1997.</p>
      <h4>Transport In Bangalore</h4>
      <p align="justify"><strong>Karnataka</strong>, a state in South India has a well-developed transport system. Its capital city, Bangalore is well-connected by air to domestic and international destinations and the Bangalore International Airport (BIAL) in the city is one of the busiest airports in India. It is also the headquarters of the airlines, Air Deccan and Kingfisher Airlines. The road transport is also well developed in the state with many National and State highways providing means for fast transportation. The headquarters of the South-Western Railway division of Indian Railways is located at Hubli and this division governs most of the railway network in the state. Konkan Railway which passes along the coastal region of the state is considered as one of the toughest engineering projects being undertaken in India till date. Buses, cars and trains are the means of transport for moving across distant places in Karnataka. For transportation within the city or town limits; motorbikes, cars, autorickshaws and buses are used. With the advent of low-cost airlines, many people are choosing to travel via air as well.</p>
      
      <h4>Infra projects:</h4>
      <table border="1" width="100%" cellpadding="5">
        <thead>
          <tr><th height="50">Name of the project</th><th>Impact areas</th><th>Expected Completion Date</th><th>Remarks</th></tr>
        </thead>
        <tbody>
          <tr><td>Hosur Road Elevated Expressway</td>
              <td>connecting the Central Silk Board junction and Electronic City</td>
              <td>Completed</td>
              <td>Reduced travel time from approximately one hour to about 20 minutes</td></tr>
          <tr><td>Hebbal Elevated Expressway</td>
            <td>Hebbal, Bellary road, Yelhanka, BIA</td>
            <td>Beyond 2014</td>
            <td>Six lane Elevated Expressway proposed from Hebbal to Yelhanka. 18 Lane highway planned for entire stretch from Hebbal to BIA</td></tr>
          <tr><td>Metro Phase I</td>
            <td>Connects areas in North, South, West and East</td>
            <td>Completion of phase-I is expected in 2014-15</td>
            <td>Phase 1 East-West corridor (Nagasandra-Puttenahalli) is named Purple Line and North-South corridor (Baiyappanahalli-Mysore Rd) is named Green Line</td></tr>
          <tr><td>Metro Phase II</td>
            <td>Connects RV Road to Bommasandra</td>
            <td>Expected completion of phase-II by 2018</td>
            <td>Phase- II connects green line and red line with Bommasandra</td></tr>
          
          <tr><td>Mono Rail Project Hebbal to J P Nagar & Peripheral Ring Road to Toll Gate along Magadi Road</td>
            <td>JP Nagar, Hebbal, Peripheral Ring Road (bannerghatta), Magadi Road</td>
            <td>Proposed</td>
            <td>NA</td></tr>
          <tr><td>NICE corridor</td>
            <td>Hosur Road, Sarjapur Road, KR Puram, Old Madras Road, Doddaballapur Road, Bellary Road,Tumkur</td>
            <td>Post 2016</td>
            <td>Partial completed-connects Electronic City-Gottigere-Kengeri-Magadi Rd-Tumkur Rd) & expect to complete rest by Post 2016</td></tr>
          <tr><td>Peripheral Ring Road</td>
            <td>A 116 km long road on the periphery of growing Bangalore city</td>
            <td>Phase-I connecting Hosur Road and Tumkur Road has been approved by cabinet. Land acquisition has been commenced.</td>
            <td>Phase-II is likely to get scraped and Phase –I will be merged with NICE corridor to complete the ring of peripheral road.</td></tr>
          <tr><td>Signal-free corridor</td>
            <td>Silk Board, Brigade road, Mehkri Circle, Old Airport Road, Old Madras Road, Kundalahalli and Whitefield, Channasandra, ORR</td>
            <td>Beyond 2016</td>
            <td>Silk Board to Vellara Junction, ORR-Mysore Road Junction to Central Silk Board Junction</td></tr>
          <tr><td>Bangalore-Mysore Infrastructure Corridor (BMIC) Express Way</td>
            <td>NICE Road, Hosur Road, Kanakapura Road,</td>
            <td>On Hold (Land acquisition)</td>
            <td>Bangalore–Mysore Infrastructure Corridor (BMIC) connects Bangalore-Mysore, SH17, NH 7 (Bangalore-Hosur)and NH 4 (Bangalore-Pune)</td></tr>
          <tr><td>High Speed Rail Link (HSRL)</td>
            <td>Cubbon road, Hebbal, Yelahanka, Airport</td>
            <td>Beyond 2016</td>
            <td>NA</td></tr>
          <tr><td>Road Widening Project Six important roads (Including Hebbal to Airport)</td>
            <td>Bannerghatta Road, Hosur Road, ORR, Silk Board, Jayadeva, Mekhri Circle, KR Puram, Mahadevpura, Hebbal, Yelahanka, Bangalore Airport</td>
            <td>Proposed</td>
            <td>Notified for widening in the Revised Master Plan 2015</td></tr>
          </tbody>
      </table>
      
      <h4>Property Rates in Bangalore- For customer information</h4>
      <table border="1" cellspacing="0" cellpadding="5" width="50%">
  <tr>
    <td><p><strong>Area</strong></p></td>
    <td><p><strong>Residential    rates&nbsp;</strong><br />
      <em>(All numbers in Rs Sq/ft)</em></p></td>
    <td><p><strong>Commercial    rates</strong><br />
      <em>(All numbers in Rs Sq/ft)</em></p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>BLR -    Central business Districts</strong></p></td>
  </tr>
  <tr>
    <td><p>MG Road</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>20000</p></td>
  </tr>
  <tr>
    <td><p>Kasturba Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Cubbon Rd</p></td>
    <td><p>12500</p></td>
    <td><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td><p>Church    Street</p></td>
    <td><p>12500</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Dickenson    Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>12500</p></td>
  </tr>
  <tr>
    <td><p>Ashokanagar</p></td>
    <td><p>2500</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Victoria    Layout</p></td>
    <td><p>4000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p><strong>Commercial    Street</strong></p></td>
    <td><p>&nbsp;</p></td>
    <td><p>25000</p></td>
  </tr>
  <tr>
    <td><p>Infantry Rd</p></td>
    <td><p>10000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>K Kamraj Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>5000-8000</p></td>
  </tr>
  <tr>
    <td><p>Shivajinagar</p></td>
    <td><p>2500</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Cunningham    Rd</p></td>
    <td><p>10000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Queens Rd</p></td>
    <td><p>5000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Millers Rd</p></td>
    <td><p>6000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Vasantnagar</p></td>
    <td><p>7000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Surrounding    MG RD</strong></p></td>
  </tr>
  <tr>
    <td><p>Langford    Town</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Richmond    Town</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Residency    Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>St.Marks Rd</p></td>
    <td><p>10000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Cambridge    Rd</p></td>
    <td><p>5000</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Ulsoor Rd</p></td>
    <td><p>8000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Vittal    Mallya Rd</p></td>
    <td><p>10000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Lavelle Rd</p></td>
    <td><p>12000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Vidhan    Soudha</strong></p></td>
  </tr>
  <tr>
    <td><p>Nruputanga    Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>12000</p></td>
  </tr>
  <tr>
    <td><p>Rajaram    Mohan Roy Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Ambedkar Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Gandhinagar</strong></p></td>
  </tr>
  <tr>
    <td><p>Gandhinagar</p></td>
    <td><p>12000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>KG Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>BVK Iyengar    Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Avenue Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Chickpet</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Cottonpet/Balepet</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Majestic</strong></p></td>
  </tr>
  <tr>
    <td><p>SP Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>SJP RD</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>NR Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>TCM Royan    Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Kalasipalyam</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Chamrajpet</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Binnypet</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Anand Rao    circle</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>JC Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>12000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>BLR West</strong></p></td>
  </tr>
  <tr>
    <td><p>Basaveshwarnagar</p></td>
    <td><p>4000</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>West of    Chord Road</p></td>
    <td><p>4000</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Vijaynagar</p></td>
    <td><p>4000</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Magadi Road</p></td>
    <td><p>4000</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Chandra    Layout</p></td>
    <td><p>3000</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Rajaji    Nagar</strong></p></td>
  </tr>
  <tr>
    <td><p>Dr Rajkumar    Road</p></td>
    <td><p>5000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Mahalakshmi    Layout</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p><strong>Malleshwaram</strong></p></td>
    <td><p>8000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Sampige Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Sankey Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>12000</p></td>
  </tr>
  <tr>
    <td><p>Guttahalli</p></td>
    <td><p>4000</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Mathikere    Main Rd</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Surrounding    Malleswaram</strong></p></td>
  </tr>
  <tr>
    <td><p>Yeswantpur</p></td>
    <td><p>2500</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Peenya</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>1500</p></td>
  </tr>
  <tr>
    <td><p>HMT Layout</p></td>
    <td><p>2500</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Vidyaranyapura</p></td>
    <td><p>2000</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Jalahalli</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Kuvempu    nagar</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>BLR - NORTH</strong></p></td>
  </tr>
  <tr>
    <td><p>Ganganagar</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>RT Nagar</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Sahakarnagar</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Hebbal /    Jakkur</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Hebbal main    rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Judicial    Layout</p></td>
    <td><p>2500</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>Yelhanka    New Satellite Town</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Dodaballabur    rd</p></td>
    <td><p>1500</p></td>
    <td><p>2000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>Surrounding    Malleswaram - II</strong></p></td>
  </tr>
  <tr>
    <td><p>Vyalikaval</p></td>
    <td><p>4000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Sadashivnagar</p></td>
    <td><p>15000</p></td>
    <td><p>20000</p></td>
  </tr>
  <tr>
    <td><p>Sanjaynagar</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Dollars    Colony</p></td>
    <td><p>5000</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Palace    Cross Rd</p></td>
    <td><p>10000</p></td>
    <td><p>12000</p></td>
  </tr>
  <tr>
    <td><p>Kumara Park</p></td>
    <td><p>10000</p></td>
    <td><p>12000</p></td>
  </tr>
  <tr>
    <td><p>Seshadripuram</p></td>
    <td><p>7000</p></td>
    <td><p>9000</p></td>
  </tr>
  <tr>
    <td><p>Madhavnagar</p></td>
    <td><p>8000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>BLR-NORTH    AND EAST</strong></p></td>
  </tr>
  <tr>
    <td><p>Jayamahal</p></td>
    <td><p>10000</p></td>
    <td><p>12000</p></td>
  </tr>
  <tr>
    <td><p>Nandidurg    Rd</p></td>
    <td><p>8000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Millers Rd    - behind Cant Rly stn</p></td>
    <td><p>7000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Tannery Rd</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Richards    Town</p></td>
    <td><p>8000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Pilanna    Garden</p></td>
    <td><p>2500</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>Lingarajpuram</p></td>
    <td><p>2500</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>Kamanahalli</p></td>
    <td><p>2500</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Ramaih Lyt</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Kacharkanahalli</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>HBR</p></td>
    <td><p>3500</p></td>
    <td><p>6500</p></td>
  </tr>
  <tr>
    <td><p>HRBR</p></td>
    <td><p>3500</p></td>
    <td><p>6500</p></td>
  </tr>
  <tr>
    <td><p>Kalyan    nagar</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Banaswadi</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Ramurthy    Nagar</p></td>
    <td><p>2000</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Maruti Seva    Nagar</p></td>
    <td><p>3000</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Hennur Rd</p></td>
    <td><p>2000</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>Outer Ring    Road</p></td>
    <td><p>3000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Krishanrajpuram</p></td>
    <td><p>1500</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td colspan="3"><p><strong>BLR - EAST</strong></p></td>
  </tr>
  <tr>
    <td><p>CV Raman    Nagar</p></td>
    <td><p>1500</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>Viveknagar</p></td>
    <td><p>2500&nbsp;</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p><strong>Indiranagar</strong></p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><p>100 Ft /    CMH Road</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>12000-18000</p></td>
  </tr>
  <tr>
    <td><p>Thippasandra    Layout</p></td>
    <td><p>5000</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Jeevan    Bhima Nagar</p></td>
    <td><p>5000&nbsp;</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>LB Shastri    Nagar</p></td>
    <td><p>2500</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>ITI colony</p></td>
    <td><p>2500</p></td>
    <td><p>4500</p></td>
  </tr>
  <tr>
    <td><p>Murgeshpalya</p></td>
    <td><p>3500</p></td>
    <td><p>4500</p></td>
  </tr>
  <tr>
    <td><p>Kodihalli</p></td>
    <td><p>3500</p></td>
    <td><p>4500</p></td>
  </tr>
  <tr>
    <td><p>Airport Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Marathahalli</p></td>
    <td><p>2500</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Whitefield</p></td>
    <td><p>1500</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>ITPL</p></td>
    <td><p>1500</p></td>
    <td><p>2500</p></td>
  </tr>
  <tr>
    <td><p>Old Madras    Road</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>1500</p></td>
  </tr>
  <tr>
    <td><p>Varthur /    Kundahalli</p></td>
    <td><p>1000</p></td>
    <td><p>1500</p></td>
  </tr>
  <tr>
    <td><p><strong>Ulsoor</strong></p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><p>Murphy Rd</p></td>
    <td><p>4000</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Kensington</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p><strong>Cox Town</strong></p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><p>Pulkeshinagar</p></td>
    <td><p>2500</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>Frazer Town</p></td>
    <td><p>7000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Cooke Town</p></td>
    <td><p>7000</p></td>
    <td><p>9000</p></td>
  </tr>
  <tr>
    <td><p>Promenade    Road</p></td>
    <td><p>8000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>St.Johns    Road</p></td>
    <td><p>5000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p><strong>BLR -    SOUTH-WEST</strong></p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><p>Fort</p></td>
    <td><p>1500</p></td>
    <td><p>2500</p></td>
  </tr>
  <tr>
    <td><p>Kengeri</p></td>
    <td><p>600</p></td>
    <td><p>1000</p></td>
  </tr>
  <tr>
    <td><p>Karisandra</p></td>
    <td><p>800</p></td>
    <td><p>1200</p></td>
  </tr>
  <tr>
    <td><p>Hosakerehalli</p></td>
    <td><p>800</p></td>
    <td><p>1200</p></td>
  </tr>
  <tr>
    <td><p>Mysore Road</p></td>
    <td><p>1500</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Rajarajeswari    nagar</p></td>
    <td><p>1200</p></td>
    <td><p>2000</p></td>
  </tr>
  <tr>
    <td><p>Shankarpuram</p></td>
    <td><p>1200</p></td>
    <td><p>2000</p></td>
  </tr>
  <tr>
    <td><p><strong>BLR - SOUTH</strong></p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><p>Yediyur</p></td>
    <td><p>1500</p></td>
    <td><p>2500</p></td>
  </tr>
  <tr>
    <td><p>Basavangudi</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Kumarswamy    Layout</p></td>
    <td><p>2500&nbsp;</p></td>
    <td><p>5000</p></td>
  </tr>
  <tr>
    <td><p>Thyagarajnagar</p></td>
    <td><p>2000</p></td>
    <td><p>4500</p></td>
  </tr>
  <tr>
    <td><p>Banashankari</p></td>
    <td><p>3500</p></td>
    <td><p>5500</p></td>
  </tr>
  <tr>
    <td><p>Padmanabhnagar</p></td>
    <td><p>3500</p></td>
    <td><p>5500</p></td>
  </tr>
  <tr>
    <td><p>Hanumantnagar</p></td>
    <td><p>3500</p></td>
    <td><p>5500</p></td>
  </tr>
  <tr>
    <td><p>Timber Yard    Layout</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>2500</p></td>
  </tr>
  <tr>
    <td><p>Kempegowda    Nagar</p></td>
    <td><p>1500</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Bull Temple    Rd</p></td>
    <td><p>5000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Gandhi    Bazar</p></td>
    <td><p>5000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>RV Rd</p></td>
    <td><p>5000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Shantinagar</p></td>
    <td><p>8000</p></td>
    <td><p>&nbsp;</p></td>
  </tr>
  <tr>
    <td><p>Mission Rd</p></td>
    <td><p>7000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Adugodi</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Wilson    Garden</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Hosur Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Siddapura    Rd</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Bannerghatta    Rd</p></td>
    <td><p>2500</p></td>
    <td><p>4500</p></td>
  </tr>
  <tr>
    <td><p>V V puram</p></td>
    <td><p>5000</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Lal Bagh Rd</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Jayanagar    Shopping Complex</p></td>
    <td><p>8000</p></td>
    <td><p>18000</p></td>
  </tr>
  <tr>
    <td><p>Jayanagar    South End Rd</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>JP Nagar</p></td>
    <td><p>6000</p></td>
    <td><p>10000</p></td>
  </tr>
  <tr>
    <td><p>Puttenahalli</p></td>
    <td><p>3500</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Avlahalli</p></td>
    <td><p>2000</p></td>
    <td><p>3500</p></td>
  </tr>
  <tr>
    <td><p>BTM Layout</p></td>
    <td><p>4000</p></td>
    <td><p>7000</p></td>
  </tr>
  <tr>
    <td><p>Bomanahalli</p></td>
    <td><p>1500</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p>Hulimavu</p></td>
    <td><p>1500</p></td>
    <td><p>3000</p></td>
  </tr>
  <tr>
    <td><p><strong>KORAMANGALA</strong></p></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td><p>Ejipura</p></td>
    <td><p>2000</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Koramangala</p></td>
    <td><p>10000</p></td>
    <td><p>15000</p></td>
  </tr>
  <tr>
    <td><p>Madivala</p></td>
    <td><p>&nbsp;</p></td>
    <td><p>6000</p></td>
  </tr>
  <tr>
    <td><p>Kaikondanahalli</p></td>
    <td><p>2000</p></td>
    <td><p>4000</p></td>
  </tr>
  <tr>
    <td><p>Jakasandra</p></td>
    <td><p>6000</p></td>
    <td><p>8000</p></td>
  </tr>
  <tr>
    <td><p>Electronic    City</p></td>
    <td><p>800</p></td>
    <td><p>1500</p></td>
  </tr>
  <tr>
    <td><p>Sarjapur Rd</p></td>
    <td><p>2000</p></td>
    <td><p>4000</p></td>
  </tr>
</table>
      <h4>Charges by Government Body</h4>
      <h5>Property Registration</h5>
      <ul type="square" style="margin-left: 3em;">
        <li>Stamp Duty: 5 percent (ready reckoner)</li>
        <li>Registration Charge: Up to Rs 30,000 or 1 percent of property rate</li>
        <li>VAT: 7 percent (on agreement value)</li>
        <li>Service Tax: 3 percent (on agreement value only for under construction properties)</li>        
      </ul>
      
      <h5>Bangalore Electricity Supply Company Ltd. (BESCOM website)</h5>
      <ul type="square" style="margin-left: 3em;">
        <li>BESCOM is responsible for power distribution in the city of Bangalore and it has three operating zones – Bangalore Metropolitan Area Zone, Bangalore Rural Area Zone and Chitradurga Zone.</li>
      </ul>
      
      <h5>Bangalore electricity rate urban areas:</h5>
      <ul type="square" style="margin-left: 3em;">
        <li>Rs 2.50 per unit up to 30 units</li>
        <li>Rs 3.70 per unit for 31 to 100 Units</li>
        <li>Rs 4.85 per unit for 101 to 200 Units</li>
        <li>Rs 5.85 per unit for 200 Units and above</li>
      </ul>
      
      <h5>BWSSB Bangalore</h5>
      <ul type="square" style="margin-left: 3em;">
        <li>Bangalore Water Supply & Sewerage Board (BWSSB) is responsible for water supply, sewerage system and sewerage disposal in the Bangalore Metropolitan.</li>
      </ul>

      <h4>Bangalore Real Estate Growth</h4>
      <p align="justify">Bangalore has been the fastest-growing city of India since the past few decades. IT has been the major growth driver and is responsible for aggressive real estate development in the city. Being the IT hub of India, Bangalore has a multi-cultural population with good social infrastructure, excellent educational institutes and constantly upgrading physical infrastructure. Currently, the most promising residential micro-markets are Outer Ring Road (ORR), Sarjapur Road, Whitefield and North Bangalore. Luxury Residential: Bangalore is the third-largest hub for High Net worth Individuals (HNIs). It is estimated to be home to over 10,000 individual dollar millionaires. Bangalore has a large base of expatriates who live and work in the city. The residents are well travelled, cultured and have sophisticated tastes. There has been increased demand for high-end residential apartments in the city, particularly in the Central Business District (CBD), Secondary Business District (SBD), Whitefield, North Bangalore and Outer Ring Road sub-markets. We expect consumer demand for high-end residential projects in these sub-markets to be steady over the short term. Bangalore is one of the most promising markets for villa projects in India. Villa and row house developments are most active in the North Bangalore, ORR, Sarjapur Road and Whitefield micro-markets. High-end residential property buyers in Bangalore are very sensitive in terms of amenities, product quality and unit sizes. Mid-Income Housing: This segment is mainly driven by individuals working in the IT and ITES industry. The main driving factors for this segment are social infrastructure, proximity to workplaces, good physical infrastructure and access to medical and educational facilities. Because of these reasons, micro-markets such as Whitefield, the ORR IT corridor, Electronic City and few areas in North Bangalore have witnessed a steady demand from the mid-income segment. Affordable Housing:  The demand from this segment comes from extremely price sensitive buyers therefore, affordable projects are developed in the suburbs as these areas offer large land parcels at lower acquisition costs. Areas such as Mysore road, Hosur road, Kanakapura road etc. have witnessed high demand for this segment.    The affordable housing concept has gained ground in Bangalore City, mainly due to a few graded developers like Purvankara, Brigade Group, Shriram Properties, Golden Gate Properties, Ozone Group and Nitesh Estate who are focusing their projects for customer segment. In most cases, the housing units are made affordable by reduced unit sizes, compromising on civic amenities and other USPs which were typically provided as differentiators to the competing projects in the micro-market/city.   Affordable housing has seen constant demand on the outskirts of Bangalore, in all directions. Availability of large land parcels at lower price points has encouraged these developments. Also, the planned Metro Rail and Peripheral Ring Road have increased the demand on the outskirts of Bangalore. VBHC Attibele and Patel Neo Town in the South Bangalore, Provident Welworth and Sovereign Lakefront in North Bangalore, and Provident Sunworth and VBHC Kengeri in West Bangalore are some of the affordable housing projects in the city. The demand for affordable housing in East Bangalore is lower when compared to Bangalore’s other micro-markets.   With increased demand, ‘affordable’ housing projects have witnessed an increase in the capital prices and are now priced higher than or similar to mid-income segment projects. These projects have also seen substantial rise in capital values because of increased cost of land acquisition and construction. Developers have therefore resorted to redesigning their projects to address the demand of a wider target segment looking at the budget homes category. Major national level players and local developers have plans to enter the affordable housing segment of Bangalore. These include Tata Housing, Usha Breco Realty, Godrej Properties, Ashoka Group, Jannaadhar Construction, CSC Builders, Brigade Group, etc.  Overall Demand Scenario:  The Bangalore market saw absorption of 6,519 units in 2Q13 against 6,689 units in 1Q13. Unsold stock in 2Q13 totalled 50,184 units in 2Q13 as compared to 46,823 in 1Q13, reflecting a vacancy rate of 53.4%, down from 54.2% in 1Q13. Supply: A total of 21 residential projects were launched across Bangalore in 2Q13, offering 9,889 units against 10,009 units in 1Q13. Meanwhile, eight residential projects comprising 2,319 units in various sub-markets were withdrawn from active stock as they were completely sold out. The major projects launched in 2Q13 included Prestige Sunrise, Prestige Ivy Terraces, Shriram Sameeksha, Sobha Santorini and Brigade Begonia.  Central (CBD) & Off Central (SBD): Low supply and high demand. Due to low availability of large land parcels and high capital values, these micro-markets have seen a limited supply of residential developments. These markets have very good social and physical infrastructure. Nitesh Park Avenue, Prestige Kingfisher Towers, Westcourt Cityview, ETA Beau Monde, 77 Degrees East, Sobha Indraprastha and Prestige Edwardian are some of the high-end projects in these micro-markets.  North Bangalore  The demand for high-end residential units remains high in the North Bangalore region. Residential real estate activity in North Bangalore has gained traction post the commencement of the Bangalore International Airport. The projects located around Hebbal, Bellary Road and surrounding areas are in the luxury segment. North Bangalore is assured to be the next economic centre of Bangalore. Proximity to the International Airport and planned social and the physical infrastructure in the North have boosted development in the area. Embassy Lake Terraces, RMZ Latitude, Karle Zenith, Equinox, Embassy Boulevard are some of the high-end projects in the North Bangalore. South Bangalore:  The demand for high-end residential developments is low in the South. The housing requirement in this area increased after Electronic City established itself as an IT Hub in this micro-market. However, it did not attract premium residential developments due to poor urban and social infrastructure. East Bangalore:  Whitefield as a micro-market has developed into a self-sustaining area. Along with being an IT destination, this area has good social infrastructure and developing physical infrastructure. Hence, the demand for luxury residential developments remains high. Adarsh Palm Meadows, Prestige White Meadows, Chaithanya Sharan, Windmills of Your Mind are some of the luxury projects in this market. West Bangalore:   This micro-market has not been successful in attracting many real estate developers as it fails on the count of good social infrastructure. It is mainly dominated by industrial developments and has seen hardly any developments in high-end residential developments.  Demand Drivers: North Bangalore: Proximity to the International Airport, planned infrastructure such as the Elevated Expressway (Bellary Road), High Speed Rail Link, Bangalore Metro Rail, etc. have been the major growth drivers for residential development in North Bangalore. Also, the Government is aggressively promoting this area for future economic activities. The planned Information Technology Investment Region (ITIR) near Devanhalli, Aerospace SEZ planned near the International Airport and the proposed Devanhalli Business Park are the key drivers for residential development in North Bangalore. Some of the prime developments in North Bangalore in the mid-segment residential category are Prestige Misty Waters, Hiranandani Glen Gate, Brigade Altamont, Mantri Webcity and Sobha City. South Bangalore: South Bangalore is close to major work centres along the ORR and is primarily classified as an upper middle-class residential catchment. It has potential for further augmentation of existing physical and social infrastructure. Over the past few years, the Southern suburbs have witnessed a high percentage of appreciation on investments. Amongst the prime residential developments in the Southern suburbs of Bangalore, projects that can be listed are Salarpuria Greenage, SNN Raj Lakeview, Purva Highlands and Sobha Forest View. East Bangalore: Eastern Bangalore is characterized by major work centres like Whitefield, the EPIP Zone which has escalated the development of residential apartments over the past few years. Many mid-scale residential projects like Brigade Cosmopolis, Brigade Lakefront, Sobha Habitech and UKN Belvista have been launched in this area. These areas are self-sufficient in terms of social and physical infrastructure as well, which is of prime importance for residential development. West Bangalore: West Bangalore is characterized by a low social profile and industrial surroundings. Also, being located away from the major IT-ITES corridors, it shows less potential for real estate growth. Although it has high availability of land for real estate development, the demand is substantially low in this part of Bangalore. Further development of the Metro in the near future might boost the development of mid-segment residential apartments in this area. At present, one of the prominent residential projects in this area is Purva Sunflower. Factors Influencing Appreciation:  The following are the factors influencing the capital appreciation and rental potential in Bangalore:  Growth in the IT Industry and a rapidly increasing number of High Net-Worth Individuals, and movement of expatriates. The proposed infrastructure by the Government (Peripheral Ring Road, Metro Rail, Signal Free ORR, High Speed Rail Link, Mono Rail, Elevated Expressway). The proposed SEZ and IT parks in North Bangalore. (ITIR in Devanhalli, Aerospace SEZ, Devanhalli Business Park, Airport city) RELATED NEWS</p>


          
    </div>
  </div>
</div>