<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear <%= @contact.name %></h3>
    <p>
      We have carefully captured your need and have saved in our system. Whenever a property is listed as per you need. you will be getting an email from us with property details. 

      We wish to server you best and we truely appreciate your interest with ezyprops.com. We wish you best in your property hunting and serve you with properties matching your need.
    </p>
    <p>Thanks,</p>
    <p>Ezy Props Team</p>
  </body>
</html>
