/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require dsidxpress/client7e2e.css
 *= require dsidxpress/dsidxwidgets/client7e2e.css
 *= require contact-form-7/styles039c.css
 *= require kk-star-ratings/css7793.css
 *= require revslider/rs-plugin/css/settings7e2e.css
 *= require revslider/rs-plugin/css/captions7e2e.css
 *= require fonts.css
 *= require bootstrap.min7e2e.css
 *= require bootstrap-responsive.min7e2e.css
 *= require pictopro-normal/style7e2e.css
 *= require pictopro-outline/style7e2e.css
 *= require justvector-web-font/stylesheet7e2e.css
 *= require chosen/chosen7e2e.css
 *= require properta7e2e.css
 *= require jquery.bxslider7e2e.css
 *= require prettyphoto/css/prettyPhoto7e2e.css
 *= require style7e2e.css
 *= require sitepress-multilingual-cms/res/css/language-selectorb253.css
 */

#errorExplanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
    color: red;
}
#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
}
#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}
.form-required{color:red}