<div  style="font-family:Arial, Helvetica, sans-serif;font-size:12px; line-height:20px; padding:30px;">
  Dear <b><%= @property.name %></b>,
  <br/>
  <br/>
  Thanks for your interest in ezyprops.com. we welcome you to our marketplace where you can find millions of users to connect with and market/sell your property quickly.

  we wish you best of luck. you property will be live for 30 days.  <%= link_to "Here", property_url(@property) %>  "When builder clicks this link he should be able to see his property"

  Looking forward to working with you on other listings in future.
  <br/>
  <br/>
  Thanks,<br/>
  Ezy Props Team.
</div>
