<h4>Individuals</h4>
<% if !@individuals.empty? %>
  <%= render :partial => "users", :locals => {:users => @individuals} %>
<% else %>
  <div style="color: red; padding: 20px; text-align: center; font-size: 30px;">
    No Individuals
  </div>
<% end %>