<div class="container">
  <div class="row">
    <div id="main" class="span12">
      <h1 class="page-header">Edit your property</h1>
      <div class="progressbar">
        <div class="progressbar-inner">
          <div class="row">
            <div class="item span4">
              <div class="number">1</div>
              <strong>Property Info</strong>
            </div><!-- /.item  -->

            <div class="item span4">
              <div class="number">2</div>
              <strong><%= @property.new_record? ? "Image Upload":"Edit" %></strong>
            </div><!-- /.item  -->

            <div class="item span4">
              <div class="number">3</div>
              <strong>Person Info</strong>
            </div><!-- /.item  -->
          </div><!-- /.row -->
        </div><!-- /.progressbar-inner -->
      </div><!-- /.progressbar -->
      <%= form_for @property, :url=>admin_property_path(:property_type=>params[:property_type]),:html => {:class=>"submission-form form-vertical"} do |f| %> 
        <%= render :partial=>'properties/form',:locals => {:f=>f} %>
      <% end %>
    </div><!-- /#main -->
  </div><!-- /.row -->
</div><!-- /.container -->


